@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e2d4cb;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10rem;
}
.flex-container .post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.flex-container .post-form .title {
  background-color: #faeeee;
  border: none;
  border-radius: 0.5rem;
  width: 40rem;
  height: 5rem;
  padding: 1.5rem;
  font-size: 1.2rem;
}
.flex-container .post-form .text {
  background-color: #faeeee;
  border: none;
  border-radius: 0.5rem;
  width: 40rem;
  height: 15rem;
  padding: 1.5rem;
  font-size: 1.2rem;
}
.flex-container .post-form .author {
  background-color: #faeeee;
  border: none;
  border-radius: 0.5rem;
  width: 40rem;
  height: 5rem;
  padding: 1.5rem;
  font-size: 1.2rem;
}
.flex-container .post-form .image-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b8b3af;
  color: #000;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1.2rem;
}
.flex-container .post-form .upload-icon {
  margin-left: 1rem;
}
.flex-container .post-form .publish-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b8b3af;
  color: #000;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.2rem;
}
.flex-container-bottom {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 40rem;
  padding-top: 2rem;
}
.flex-container-bottom .cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: #443730;
  color: #fff;
  text-decoration: none;
  width: 8rem;
  height: 3rem;
  border-radius: 1rem;
}

@media (max-width: 576px) {
  .flex-container {
    height: 100vh;
    padding-top: 2rem;
  }
  .flex-container .post-form .title {
    width: 18rem;
    height: 3rem;
    font-size: 1rem;
  }
  .flex-container .post-form .text {
    width: 18rem;
    font-size: 1rem;
  }
  .flex-container .post-form .author {
    width: 18rem;
    height: 3rem;
    font-size: 1rem;
  }
  .flex-container .post-form .image-btn {
    font-size: 1rem;
  }
  .flex-container .post-form .publish-btn {
    font-size: 1rem;
  }
  .flex-container-bottom {
    width: 100%;
    justify-content: end;
    padding-right: 3.5rem;
  }
}