<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Posts</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="header-container">
        <button class="new-post-btn">
          <a href="/posts/new"> PUBLISH YOUR POST</a>
        </button>
      </div>
    </header>
    <main>
      <div class="main-container">
        <div class="main-container-title">
          <h1>LITLOG</h1>
        </div>
        <div class="main-container-posts">
          <% for(let post of posts) { %>
          <div class="post">
            <img
              class="index-img"
              src="<%= post.imagePath %>"
              alt="Post Image"
            />
            <h1 class="post-title"><%= post.title %></h1>
            <h2 class="post-author">Author: <%= post.author %></h2>

            <a class="read" href="/posts/<%= post._id %>"> READ</a>
          </div>

          <% } %>
        </div>
      </div>
    </main>
  </body>
</html>
